body {
	overflow: hidden;
}

.wrapper{
	position: relative;
	height: 70vh;
}

.left-btn {
	right: auto;
	left: 23px;
}

.preview {
	border-radius: 50%;
	color: white;
	display: inline !important;
	line-height: 24px !important;
	height: 24px !important;
}

.wrapper canvas{
    float: right;
    position: absolute;
	top: -15px;
	left: 0px;
	width: 100%;
	margin-bottom: -20px;
}

p, span {
	color: rgba(0, 0, 0, 0.7);
	line-height: normal;
}

.col > .animate{
	width: 100%;
	margin: 5px;
}

.caption{
	font-size: 25px;
}

#warning{
	z-index: 1005;
	display:none;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	size: 25px;
	color: white;
	text-align: center;
	padding-top: 40vh;
}

/*less space on small screens so condense things*/
@media screen and (max-width: 1200px) {
	.wrapper canvas{
		top: 5px;
	}
}

@media screen and (min-width: 601px){
	.button-collapse{
		display: none;
	}
}

/*portrait mode warning if in landscape*/
@media screen and (orientation: landscape) {
	#warning{
		display: block;
	}
}

/*No portrait mode warning on large devices*/
@media screen and (min-device-width: 1300px){
	#warning{
		display: none;
	}

	.wrapper canvas{
		width: 90%;
	}
}